.faq {
    background-image: url('../images/content/buryat.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 140px;   
    height: 650px;
    width: 100%;
    position: relative;   
    @include mindescktop(){
        background-image: url('../images/content/whaaat.png');
        background-position: center;
    }
    @include phone(){
        padding-bottom: 245px;
     }
     @include minphone(){
        padding-bottom: 300px;
    }
}

.faq_content-decor-top {
    position: absolute;
    top: -149px;
    left: 0;
    right: 0;
    background-image: url('../images/content/top.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    @include phone(){
        height: 40px;
        top: -40px;
     }
     @include minphone(){
        top: -39px;
    }
}

.faq_content {
    width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    @include mindescktop(){
        width: 100%;
    }
}

.faq_content-main {
    width: 50%;
    margin-top: 120px;
    @include mindescktop(){
        margin: 0 auto;
        margin-top: 120px;
    }
    @include bigtablet(){
        margin-top: 30px;
    }
    @include maxphone(){
        width: 90%;
     }
}

.faq_content-title {
    font-family: 'GothamProBlack';
    font-size: 48px;
    color: $black;
    text-align: center;  
    @include bigtablet(){
        font-size: 40px;
    }
    @include phone(){
        font-size: 26px;
        margin-bottom: 20px;
     }
}

.faq_content-subtitle {
    font-family: 'GothamProLight';
    font-size: 24px;
    color: $vinous; 
    text-align: center; 
    @include bigtablet(){
        font-size: 20px;
    }
    @include phone(){
        font-size: 16px;
     }
}

.faq_accordeon-header-title {
    font-family: 'GothamProBold';
    font-size: 18px;
    color: $dark-grey;
    .fas {
        margin-right: 10px;
    }  
}

.faq_accordeon-header-text {
    font-family: 'GothamProRegular';
    font-size: 16px;
    color: $dark-grey;  
}


/********Accordeon*******/

dl {
  margin: 20px 0;
  padding: 0;
  border-width: 1px 1px 0;
}

dt {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  letter-spacing: 1px;
  cursor: pointer;
}

dd {
  margin: 0;
  padding: 25px;
  border-bottom: 1px solid #ddd;
  background-color: rgba(255, 255, 255, 0.4);
}
  
  h3 {
    margin: 0 0 0.25em;
  }

  p {
    margin: 0;
  }