.faq_content-title {
    font-family: 'GothamProBlack';
    font-size: 48px;
    color: $black;  
}

.faq_content-subtitle {
    font-family: 'GothamProLight';
    font-size: 24px;
    color: $vinous;  
}

.faq_accordeon-header-title {
    font-family: 'GothamProBold';
    font-size: 18px;
    color: $dark-grey;  
}

.faq_accordeon-header-text {
    font-family: 'GothamProLight';
    font-size: 16px;
    color: $dark-grey;  
}