.features-content_title {
    font-family: 'GothamProBlack', sans-serif;
    font-size: 48px;
    color: $yellow;  
}

.features-content_subtitle {
    font-family: 'GothamProLight';
    font-size: 24px;
    color: $white;
}

.features-content_list-text {
    font-family: 'GothamProBold';
    font-size: 20px;
    color: $white;  
}