.how {
    position: relative;
    margin-top: -75px;
    margin-bottom: -90px;
    padding: 100px 0;
}

.how_content {
    width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 9999;
    @include mindescktop(){
        width: 100%;
    }
}

.how_content-decor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../images/content/patern-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 2;
    @include phone(){
        background-size: cover;
     }
}

.how_content-title {
    font-family: 'GothamProBlack';
    font-size: 48px;
    color: $black; 
    text-align: center;
    margin-bottom: 70px; 
    @include bigtablet(){
        font-size: 40px;
    }
    @include phone(){
        font-size: 36px;
     }
}

.how_content-features {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.how_content-features::after {
    content: '';
    display: block;
    position: absolute;
    top: 110px;
    right: 250px;
    width: 250px;
    height: 193px;
    border: 5px dotted $yellow;
    border-left-color: transparent;
    @include mindescktop(){
        display: none;
    }
}

.how_content-features::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 157px;
    left: 300px;
    width: 285px;
    height: 210px;
    border: 5px dotted $yellow;
    border-right-color: transparent;
    @include mindescktop(){
        display: none;
    }
}

.how_features-title {
    font-family: 'GothamProBold';
    font-size: 20px;
    line-height: 35px;
    color: $black; 
    width: 175px;
    text-align: center;
    z-index: 9;
}

.how_features-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how_features-item:nth-child(1) {
    width: 100%;
    margin-bottom: -80px;
    @include maxphone(){
        width: 50%;
        margin-bottom: 20px;
        order: 1;
     }
     @include phone(){
        width: 100%;
     }
}

.how_features-item:nth-child(2) {
    width: 50%;
    @include maxphone(){
        order: 3;
     }
     @include phone(){
        width: 100%;
     }
}

.how_features-item:nth-child(3) {
    width: 50%;
    @include maxphone(){
        order: 2;
        margin-bottom: 20px;
     }
     @include phone(){
        width: 100%;
     }
}

.how_features-item:nth-child(4) {
    width: 100%;
    margin-top: -30px;
    @include maxphone(){
        width: 50%;
        margin-top: 0;
        order: 4;
     }
     @include phone(){
        width: 100%;
     }
}

.how_content-link {
    font-family: 'GothamProBlack';
    font-size: 16px;
    color: $black;
    padding: 27px 37px;
    margin: 0 auto;
    margin-top: 60px;
    background-color: $yellow;
    text-decoration: none;
    display: block;
    width: max-content;
    box-shadow: 0 3px 25px #B5B5B5; 
    transition: 0.3s;
    &:hover {
        background-color: $white;
        transition: 0.3s;
    } 
    @include minphone(){
        font-size: 14px;
        padding: 27px 15px;
    }
}

.how_features-item-img {
    width: 185px;
    height: 175px;
    margin-bottom: 20px;
    z-index: 9;
    img {
        width: 100%;
        height: 100%;
    }
}