.map_contact-adress {
    div:first-child {
        font-family: 'GothamProLight', sans-serif;
        font-size: 15px;
        color: $dark-grey;
    }
    div:nth-child(2) {
        font-family: 'GothamProBold', sans-serif;
        font-size: 20px;
        color: $dark-grey;
    }
}

.map_contact-time {
    div:first-child {
        font-family: 'GothamProLight', sans-serif;
        font-size: 15px;
        color: $dark-grey;
    }
    div:nth-child(2) {
        font-family: 'GothamProBold', sans-serif;
        font-size: 20px;
        color: $dark-grey;
    }
}