.nav {
    @include mintablet(){
        margin-bottom: 80px;
    }
    @include phone(){
        margin-bottom: 40px;
     }
}

.nav_wrap {
    padding: 0;
    margin: 0;
    display: flex;
    @include mintablet(){
        flex-direction: column;  
        text-align: center;
    }
}

.nav_wrap-item {
    list-style-type: none;
    margin-left: 40px;
    padding-bottom: 25px;
    border-bottom: 4px solid transparent;
    transition: 0.3s;
    @include mindescktop(){
        margin-left: 20px;
    }
    @include minphone(){
        margin-left: 0;
    }
}

.nav_wrap-item:hover {
    border-bottom: 4px solid $yellow;
    transition: 0.3s;
    .nav_item-link {
        color: $yellow;
        transition: 0.3s;
    }
}

.nav_item-link {
    font-family: 'GothamProRegular', sans-serif;
    font-size: 18px;
    color: $white;
    text-decoration: none;
    transition: 0.3s;
    @include mindescktop(){
        font-size: 16px;
    }
    @include tablet(){
        font-size: 14px;
    }
    @include mintablet(){
        font-size: 30px;  
    }
}













