.offer {
    background-image: url('../images/content/third.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 230px;

}

.offer_content {
    width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.offer_content-title {
    font-family: 'GothamProBlack', sans-serif;
    font-size: 48px;
    color: $white;
    text-align: center;
    margin-bottom: 60px;
    span {
        color: $yellow;
    }  
}

.offer_content-logo {
    width: 263px;
    height: 263px;
    margin: 0 auto;
    margin-bottom: 60px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.offer_content-text {
    font-family: 'GothamProRegular', sans-serif;
    font-size: 32px;
    color: $white;
    text-align: center;
    line-height: 52px;
}

.offer_content-link {
    font-family: 'GothamProBlack';
    font-size: 16px;
    color: $black;  
    padding: 27px 37px;
    margin: 0 auto;
    margin-top: 60px;
    background-color: $yellow;
    text-decoration: none;
    display: block;
    width: max-content;
    box-shadow: 0 3px 25px $dark-grey; 
}