.reviews {
    padding: 100px 0;
    padding-top: 0;
    position: relative;
}

.reviews_decor-top {
    position: absolute;
    top: -148px;
    left: 0;
    right: 0;
    background-image: url('../images/content/top.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    @include phone(){
        height: 60px;
        top: -60px;
     }
     @include minphone(){
        top: -59px;   
    }
}

.reviews_content {
    width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
    @include mindescktop(){
        width: 100%;
    }
}

.reviews_content-title {
    font-family: 'GothamProBlack', sans-serif;
    font-size: 48px;
    color: $black;
    @include bigtablet(){
        font-size: 40px;
    }
    @include phone(){
        font-size: 32px;
     }
}


.reviews_slider-wrap {
    display: flex;
    justify-content: space-around;
}

.reviews_slider-item {
    background-color: $white;
    box-shadow: 3px 5px 59px rgba($color: #515151, $alpha: .2);
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 60px;
    margin-top: 110px;
    box-sizing: border-box;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    opacity: 0.3;
    transition: 0.3s;
    @include phone(){
        margin-left: 5px;
        margin-right: 5px;
     }
}

.slick-active {
    opacity: 1;
    transition: 0.3s;
}

.reviews_slider-item-img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 35px;
    margin-top: -105px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.reviews_slider-item-name {
    font-family: 'GothamProBold', sans-serif;
    font-size: 28px;
    color: $black;
    margin-bottom: 30px;
    @include bigtablet(){
        font-size: 24px;
    }
}

.reviews_slider-item-text {
    font-family: 'GothamProLight';
    font-size: 16px;
    color: $black;  
}