.why-section {
    padding: 100px 0;
    position: relative;
    margin-top: -75px;
    margin-bottom: -75px;
}

.why-section_decor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../images/content/patern-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 2;
    @include phone(){
        background-size: cover;
     }
}

.why-section_content-wrap {
    width: 1100px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    @include mindescktop(){
        width: 100%;
    }
}

.why-section_content-left {
    max-width: 392px;
    padding: 65px 98px;
    padding-right: 120px;
    border: 1px solid $yellow;
    z-index: 99;
    @include mindescktop(){
        margin: 0 auto;
    }
    @include maxphone(){
        padding: 65px 30px;
     }
     @include phone(){
        padding: 40px 30px;
        padding-bottom: 65px;
     }
}

.why-section_left-list {
    padding: 0;
    margin: 0;
    margin-bottom: 70px;
}

.why-section_list-item {
    list-style-type: none;
    margin-bottom: 35px;
}

.why-section_left-title {
    font-family: 'GothamProBlack', sans-serif;
    font-size: 48px;
    color: $black;
    margin-bottom: 55px;
    @include phone(){
        font-size: 36px;
        margin-bottom: 35px;
     }
}

.why-section_list-title {
    font-family: 'GothamProBold', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: $black;
}

.why-section_list-text {
    font-family: 'GothamProLight', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: $dark-grey;
}

.why-section_left-link {
    font-family: 'GothamProBlack', sans-serif;
    font-size: 16px;
    padding: 27px 37px;
    margin-top: 60px;
    background-color: $yellow;
    color: $black;
    text-decoration: none;
    box-shadow: 0 3px 25px $grey;
    transition: 0.3s;
    &:hover {
        background-color: $white;
        transition: 0.3s;
    }
    @include minphone(){
        display: block;
        padding: 27px 20px;
        text-align: center;
        font-size: 14px;
     }
}

.why-section_content-right {
    width: 45%;
    box-sizing: border-box;
    margin-left: -120px;
    margin-top: 34px;  
    z-index: 99;
    img {
        height: 100%;
    }
    @include mindescktop(){
        display: none;
    }
}