.why-section_left-title {
    font-family: 'GothamProBlack', sans-serif;
    font-size: 48px;
    color: $black;
}

.why-section_list-title {
    font-family: 'GothamProBold', sans-serif;
    font-size: 16px;
    color: $black;
}

.why-section_list-text {
    font-family: 'GothamProLight', sans-serif;
    font-size: 16px;
    color: $dark-grey;
}

.why-section_left-link {
    font-family: 'GothamProBlack', sans-serif;
    font-size: 16px;
    color: $black;
    text-decoration: none;
}