extends ../includes/g_head
block variables
  - var title = 'Перша Пекарня'
block content 
        .wrapper
            .form-wrapper
                .form_content
                    .form_content-title Укажите свои данные
                    .form_content-subtitle И мы свяжемся с вами в ближайшее время
                    form(action="#", method="post")
                        input(type="text", name="name" placeholder="Укажите ваше имя")
                        input(type="text", name="number" placeholder="Укажите ваш номер")
                        button(type="submit") Отправить
            .bg-header-wrapp
                header.heade-mobile
                    .menu-icon
                        span
                        span
                        span
                    .header_logo
                        .header_logo-img
                            img(src="assets/images/icons/logo-white.svg", alt="Logo")
                    .header-mobile_bg
                        nav.nav
                            ul.nav_wrap
                                li.nav_wrap-item
                                    a.nav_item-link.nav_item-link--mobile(href="#why-section") ПОЧЕМУ МЫ
                                li.nav_wrap-item
                                    a.nav_item-link.nav_item-link--mobile(href="#features") УНИКАЛЬНОСТЬ
                                li.nav_wrap-item
                                    a.nav_item-link.nav_item-link--mobile(href="#faq") FAQ
                                li.nav_wrap-item
                                    a.nav_item-link.nav_item-link--mobile(href="#reviews") НАШИ КЛИЕНТЫ
                                li.nav_wrap-item
                                    a.nav_item-link.nav_item-link--mobile(href="#map-section") КОНТАКТЫ
                        .header_contact-wrapp
                            .header_contact-item +38 (050) 322-85-41 
                            .header_contact-item +38 (096) 297-96-61
                        a(href="#").main-section_features-link.form-link Получить консультацию
                            span  по сотрудничеству

                header.header
                    .header_logo
                        .header_logo-img
                            img(src="assets/images/icons/logo-white.svg", alt="Logo")
                    .header-content-wrapp
                        .header_contact-wrapp
                            .header_contact-item
                                i.fas.fa-phone 
                                |+38 (050) 322-85-41 
                            .header_contact-item +38 (096) 297-96-61
                        .header_nav
                            nav.nav
                                ul.nav_wrap
                                    li.nav_wrap-item
                                        a.nav_item-link(href="#why-section") ПОЧЕМУ МЫ
                                    li.nav_wrap-item
                                        a.nav_item-link(href="#features") УНИКАЛЬНОСТЬ
                                    li.nav_wrap-item
                                        a.nav_item-link(href="#faq") FAQ
                                    li.nav_wrap-item
                                        a.nav_item-link(href="#reviews") НАШИ КЛИЕНТЫ
                                    li.nav_wrap-item
                                        a.nav_item-link(href="#map-section") КОНТАКТЫ

                        
                section.main-section
                    .main-section_title
                        span ОТКРОЙТЕ
                        span  УСПЕШНЫЙ БИЗНЕС
                        span  ПО ФРАНШИЗЕ 
                    .main-section_content
                        .main-section_image
                            img(src="assets/images/content/happy-man.png", alt="Фото")
                        .main-section_features-wrapp
                            ul.main-section_features
                                li.main-section_features-item 
                                    span Выход в плюс уже через
                                    span  2 месяца
                                li.main-section_features-item 
                                    span Окупаемость от
                                    span  6 месяцев
                                li.main-section_features-item 
                                    span Чистая прибыль
                                    span  - от 1200 у.е.
                            .main-section_features-footer
                                .main-section_features-footer-title Проверенная модель бизнеса
                                .main-section_features-footer-text Бизнес будет эффективным при любых экономических условиях!
                                a(href="#").main-section_features-link.form-link Получить консультацию
                                    span  по сотрудничеству
            section.why-section#why-section
                .why-section_decor
                .why-section_content-wrap
                    .why-section_content-left
                        .why-section_left-title Почему мы?
                        ul.why-section_left-list
                            li.why-section_list-item
                                .why-section_list-title Быстрый старт
                                .why-section_list-text Ваша пекарня заработает через 30 дней!
                            li.why-section_list-item
                                .why-section_list-title Маркетинговая поддержка
                                .why-section_list-text Мы развиваем бренд, исследуем рынок, стимулируем сбыт акциями и информируем ЦА о расположении наших пекарен.
                            li.why-section_list-item
                                .why-section_list-title Профессионализм
                                .why-section_list-text Фундамент бизнеса мы сделали за вас
                            li.why-section_list-item
                                .why-section_list-title Быстрая окупаемость
                                .why-section_list-text Через 6-8 месяцев Ваша прибыль будет от $1200 до $5000
                        a(href="#").why-section_left-link ПОЛУЧИТЬ БИЗНЕС-ПЛАН
                    .why-section_content-right
                        img(src="assets/images/content/why-bg.png", alt="Печенька")
                

            section.features#features
                .features-content  
                    .features-content_title НАШИ ПРЕИМУЩЕСТВА
                    .features-content_subtitle Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне
                    .features-content_item 
                        ul.features-content_list
                            li.features-content_list-item
                                .features-content_img
                                    img(src="assets/images/icons/feature-1.svg", alt="Преимущество")
                                .features-content_list-text Стартовый капитал 16500 у.е.
                            li.features-content_list-item
                                .features-content_img
                                    img(src="assets/images/icons/feature-2.svg", alt="Преимущество")
                                .features-content_list-text Самоокупаемость через 2 месяца
                            li.features-content_list-item
                                .features-content_img
                                    img(src="assets/images/icons/feature-3.svg", alt="Преимущество")
                                .features-content_list-text Окупаемость от 6 месяцев
                            li.features-content_list-item
                                .features-content_img
                                    img(src="assets/images/icons/feature-4.svg", alt="Преимущество")
                                .features-content_list-text Чистая прибыль от 1200 - 5000$
                            li.features-content_list-item
                                .features-content_img
                                    img(src="assets/images/icons/feature-5.svg", alt="Преимущество")
                                .features-content_list-text 43 работающих пекарни
                            li.features-content_list-item
                                .features-content_img
                                    img(src="assets/images/icons/feature-6.svg", alt="Преимущество")
                                .features-content_list-text От 500 чеков в день
            section.faq#faq
                .faq_content-decor-top
                .faq_content
                    .faq_content-title ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ
                    .faq_content-subtitle Мы подготовили ответы чтобы сэкономить ваше время.
                    .faq_content-main
                        dl.js-accordeon
                            dt.faq_accordeon-header-title
                                i.fas.fa-caret-right.fa-caret-right--active
                                |Я никогда не занимался общепитом, какую помощь с открытием бизнеса я получу?
                            dd
                                p.faq_accordeon-header-text Пекарни успешно стартовали в таких разноплановых городах: Киев, Днепр, Одесса, Львов, Запорожье, Херсон, Черкассы, Тернополь, Павлоград, Каменское, Мелитополь, Нежин. При первом общении мы проанализируем ваши условия и предложим оптимальное решение.
                            dt.faq_accordeon-header-title 
                                i.fas.fa-caret-right
                                |Пойдет ли этот бизнес в моем городе?
                            dd
                                p.faq_accordeon-header-text Пекарни успешно стартовали в таких разноплановых городах: Киев, Днепр, Одесса, Львов, Запорожье, Херсон, Черкассы, Тернополь, Павлоград, Каменское, Мелитополь, Нежин. При первом общении мы проанализируем ваши условия и предложим оптимальное решение.
                            dt.faq_accordeon-header-title 
                                i.fas.fa-caret-right
                                |Хватит ли заявленной суммы денег?
                            dd
                                p.faq_accordeon-header-text Пекарни успешно стартовали в таких разноплановых городах: Киев, Днепр, Одесса, Львов, Запорожье, Херсон, Черкассы, Тернополь, Павлоград, Каменское, Мелитополь, Нежин. При первом общении мы проанализируем ваши условия и предложим оптимальное решение.
                            dt.faq_accordeon-header-title 
                                i.fas.fa-caret-right
                                |Где взять обученных сотрудников?
                            dd
                                p.faq_accordeon-header-text Пекарни успешно стартовали в таких разноплановых городах: Киев, Днепр, Одесса, Львов, Запорожье, Херсон, Черкассы, Тернополь, Павлоград, Каменское, Мелитополь, Нежин. При первом общении мы проанализируем ваши условия и предложим оптимальное решение.
                            dt.faq_accordeon-header-title 
                                i.fas.fa-caret-right
                                |Как найти место для открытия пекарни?
                            dd
                                p.faq_accordeon-header-text Пекарни успешно стартовали в таких разноплановых городах: Киев, Днепр, Одесса, Львов, Запорожье, Херсон, Черкассы, Тернополь, Павлоград, Каменское, Мелитополь, Нежин. При первом общении мы проанализируем ваши условия и предложим оптимальное решение.
                            dt.faq_accordeon-header-title 
                                i.fas.fa-caret-right
                                |Как будет контролироваться старт и дальнейшая работа пекарни?
                            dd
                                p.faq_accordeon-header-text Пекарни успешно стартовали в таких разноплановых городах: Киев, Днепр, Одесса, Львов, Запорожье, Херсон, Черкассы, Тернополь, Павлоград, Каменское, Мелитополь, Нежин. При первом общении мы проанализируем ваши условия и предложим оптимальное решение.
                                

                            
                        
            section.how
                .how_content-decor
                .how_content
                    .how_content-title КАК ОТКРЫТЬ СВОЮ ПЕКАРНЮ
                    .how_content-features
                        .how_features-item
                            .how_features-item-img
                                img(src="assets/images/icons/step-1.svg", alt="Преимущества")
                            .how_features-title Встреча с собственником
                        .how_features-item
                            .how_features-item-img
                                img(src="assets/images/icons/step-3.svg", alt="Преимущества")
                            .how_features-title Подписание договора
                        .how_features-item
                            .how_features-item-img
                                img(src="assets/images/icons/step-2.svg", alt="Преимущества")
                            .how_features-title Формирование бизнес-плана
                        .how_features-item
                            .how_features-item-img
                                img(src="assets/images/icons/step-4.svg", alt="Преимущества")
                            .how_features-title СТАРТ через 30 дней
                    a(href="#").how_content-link ВСТРЕТИТЬСЯ С СОБСТВЕННИКОМ
               
            
            section.offer
                .offer_content
                    .offer_content-title ОТКРОЙТЕ
                        span  “ПЕРШУ ПЕКАРНЮ”
                    .offer_content-logo
                        img(src="assets/images/icons/logo-yellow.svg", alt="Логотип")
                    .offer_content-text
                        span Инвестируй в проверенный бизнес!
                        br
                        span С помощью пекарни мы помогаем предпринимателям выгодно
                        br
                        span и безопасно приумножать деньги.
                    a(href="#").offer_content-link ВСТРЕТИТЬСЯ С СОБСТВЕННИКОМ
            
            section.reviews#reviews
                .reviews_decor-top
                .reviews_content
                    .reviews_content-title ОТЗЫВЫ НАШИХ КЛИЕНТОВ
                    .reviews_slider
                        .reviews_slider-wrap
                            .reviews_slider-item
                                .reviews_slider-item-img
                                    img(src="assets/images/content/ava1.png", alt="Фото")
                                .reviews_slider-item-name Игорь Романенко
                                .reviews_slider-item-text Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.."
                            .reviews_slider-item
                                .reviews_slider-item-img
                                    img(src="assets/images/content/ava1.png", alt="Фото")
                                .reviews_slider-item-name Арнольд Романенко
                                .reviews_slider-item-text Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.."
                            .reviews_slider-item
                                .reviews_slider-item-img
                                    img(src="assets/images/content/ava1.png", alt="Фото")
                                .reviews_slider-item-name Дмитрий Романенко
                                .reviews_slider-item-text Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.."
                            
                            
            section.map#map-section
                .map_decor-top
                .map_content
                    #map
                    .map_content-contact
                        .map_content-cross
                        .map_contact-adress
                            div Адрес:
                            div
                                i.fas.fa-map-marker-alt
                                |Киев. ул Ленина 17
                        .map_contact-time
                            div График работы:
                            div
                                i.fas.fa-clock
                                |08:00 - 22:00
        script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
        script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
        script(src="assets/scripts/index-min.js")




                
                            
                         
                
            