
$black: #000000;

$yellow: #FCD73F;

$white: #FFFFFF;

$dark-grey: #515151;

$grey: #B5B5B5;

$vinous: #73192B;

$purple: #402E8B;

$carroty: #D84D41;


$tablet: 768px;

$phone: 480px;


@mixin tablet {
    @media screen and (max-width:$tablet) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width:$phone) {
        @content;
    }
}