@font-face {
    font-family: 'GothamProBlack';
    src: url('../fonts/GothamProBlack.woff');
    font-weight: 900;
    font-style: normal;    
}

@font-face {
    font-family: 'GothamProBlackItalic';
    src: url('../fonts/GothamProBlackItalic.woff');
    font-weight: 900;
    font-style: normal;    
}

@font-face {
    font-family: 'GothamProBold';
    src: url('../fonts/GothamProBold.woff');
    font-weight: 700;
    font-style: normal;    
}

@font-face {
    font-family: 'GothamProBoldItalic';
    src: url('../fonts/GothamProBoldItalic.woff');
    font-weight: 700;
    font-style: normal;    
}

@font-face {
    font-family: 'GothamProItalic';
    src: url('../fonts/GothamProItalic.woff');
    font-weight: 400;
    font-style: normal;    
}

@font-face {
    font-family: 'GothamProLight';
    src: url('../fonts/GothamProLight.woff');
    font-weight: 300;
    font-style: normal;    
}

@font-face {
    font-family: 'GothamProLightItalic';
    src: url('../fonts/GothamProLightItalic.woff');
    font-weight: 300;
    font-style: normal;    
}

@font-face {
    font-family: 'GothamProMedium';
    src: url('../fonts/GothamProMedium.woff');
    font-weight: 500;
    font-style: normal;    
}

@font-face {
    font-family: 'GothamProMediumItalic';
    src: url('../fonts/GothamProMediumItalic.woff');
    font-weight: 500;
    font-style: normal;    
}

@font-face {
    font-family: 'GothamProRegular';
    src: url('../fonts/GothamProRegular.woff');
    font-weight: 400;
    font-style: normal;     
}


@font-face {
    font-family: 'BERNIER';
    src: url('../fonts/BERNIER_Distressed.ttf');
    font-weight: 400;
    font-style: normal;     
}



